.carousel-container {
    display: flex;

    .slide {

        position: relative;
        width: 50vw;
        height: 70vh;
        overflow: hidden;
        border-top-right-radius: 10%;

        .visible {
           display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            .visible {
                display: none;
            }
        }
    }

    // .prev-button {
    //     position: absolute;
    //     left: 0;
    //     top: 50%;
    // }

    // .next-button {
    //     position: absolute;
    //     right: 0;
    //     top: 50%;
    // }
}