.contact-container {
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    color: white;

    .contact-infos {
        margin: 0 auto;
        width: 70%;

        .contact-title {
            margin-top: 180px;
            margin-bottom: 15px;

            h1 {
                text-transform: uppercase;
            }
        }

        hr {
            height: 3px;
            background-color: white;
        }

        .sides {
            display: flex;
            margin-top: 20px;

            a {
                text-transform: lowercase;
                text-decoration: none;
                color: white;
                display: inline-block;
                position: relative;
                
                &:hover{
                    color: #FFA63D;
                    text-decoration: underline;
                }
              
                svg{
                    font-size: 15px;
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
            .leftside {
                flex: 1;

                p {
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .rightside {
                flex: 1;

                p {
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: bold;

                    a {}

                }
            }

        }

        .visible {
            display: block;
        }

        .not-visible {
            display: none;
        }

        .noise {
            filter: blur(5px);
            pointer-events: none;
        }
    }
}