.detail-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #121212;
  color: white;

  .detail-infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    .detail-elements {
      max-width: 70%;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 10px rgba(34, 32, 32, 0.5);

      h2 {
        font-size: 28px;
        margin-bottom: 25px;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
        text-align: start;
        margin-bottom: 20px;
      }

      .detail-img-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        img {
          width: 200px;
          height: 400px;
          margin-right: 10px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }
  }

  .detail-techno {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .detail-container {
    // overflow: visible; /* Autoriser le défilement vertical sur les petits écrans */
    height: 100%;
    width: 100%;
  }

  .detail-infos {
    .detail-elements {
      max-width: 90%;
      padding: 10px;
      h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
      .detail-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          max-width: 100%;
          max-height: 300px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .detail-techno {
    justify-content: center;
    text-align: center;
    p {
      margin: 5px 10px;
    }
  }
}
