.carousel-container{
  display: flex;
  align-items: center;
  max-height: 100vh;
 
}
.selected-images{
  flex-basis: 1;
 
 .img-container img{
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
 }
}

.project-list {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.project-list li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.project-list .selected {
  font-weight: bold;
}
.thumbs-wrapper{
  display: none;
}