.resume-container {
    display: flex;
    flex-direction: column;

    .left-side {
        flex: 2;

        .paragraphe {}
    }

    .right-side {
       svg{
        width: 30px;
       }

        
    }
}