.resume-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    color: white;

    .allsides {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
        
        .left-side {
            width: 70%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            h1{
              text-transform: uppercase;
              margin-bottom: 15px;
            }
            hr {
              height: 3px;
              background-color: white;
          }
          p{
            margin-top: 20px;
            font-size: 18px;
          }
  
        }

        .right-side {
            svg {
                height: 100px;
                width: 100px;
            }
            .icon:nth-child(1){
                color: #DD4B25;
              }
            .icon:nth-child(2) {
                color: #254BDD;
              }
            .icon:nth-child(3) {
                color: #7377AD;
              }
            .icon:nth-child(4) {
                color: #5ED3F3;
              }
            .icon:nth-child(5) {
                color: #C76494;
              }
            .icon:nth-child(6) {
                color: #2C7AC9;
              }
            .icon:nth-child(7) {
                color: #C57A17;
              }
            .icon:nth-child(8) {
                color: #4EAC3E;
              }
            .icon:nth-child(9) {
                color: #EFD81D;
              }
            .icon:nth-child(10) {
                color: #000000;
              }
              .icon{
                margin-right: 15px;
              }
        }
    }
  

  .noise {
      filter: blur(5px);
      pointer-events: none;
  }
}